.destination-card-container {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 5px solid whitesmoke;
  border-radius: 10px;
  min-height: 325px;
  min-width: 365px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
 }